{% include 'header.html' %}
{% load plotly_dash %}
<body>
{% include 'menus/top-navigator.html' %}

<div class="container-fluid">
    <div class="row">
        {% include 'menus/left-sidebar.html' %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            {% include 'default/breadcrumb.html' %}
            {% plotly_app name='dash_daily_statistics' ratio=0.35 %}
        </main>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            {% plotly_app name="dash_asymptomatic_distribution_cases" %}
        </main>
    </div>
</div>

{% include 'footer.html' %}
