dash
dash-renderer
dash-html-components
dash-core-components
dash-bootstrap-components
plotly
pandas
numpy
django
mysqlclient
channels
daphne
redis
django-redis
channels-redis
bootstrap4
dpd_static_support
dash_daq
dash_bootstrap_components
whitenoise
django_plotly_dash