Django~=3.1.2
python-decouple~=3.3
Unipath~=1.1
whitenoise~=5.2.0
pandas~=1.1.4
plotly~=4.12.0
arcgis2geojson~=2.0.0
numpy~=1.19.4
dash~=1.17.0
channels-redis~=3.1.0
django_plotly_dash~=1.4.1
dash-renderer~=1.8.3
dash-html-components~=1.1.1
dash-core-components~=1.13.0
dash-bootstrap-components~=0.10.7
channels~=3.0.1
redis~=3.5.3
django-redis~=4.12.1
bootstrap4~=0.1.0
dpd_static_support~=0.0.5
dash_daq~=0.5.0
django-widget-tweaks~=1.4.8
django-treebeard~=4.3.1