{% extends 'layouts/base.html' %}

{% block title %} Maps {% endblock title %}

{% block content %}

    <div class="container-fluid">

        <!-- 404 Error Text -->
        <div class="text-center">
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-5">Page Not Found</p>
            <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
            <a href="{% url 'index' %}">← Back to Dashboard</a>
        </div>

    </div>
    {% include "includes/footer.html" %}


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script>
        $('.nav-item a').removeClass('active');
        $('.maps-item a').addClass('active');
    </script>
{% endblock javascripts %}
